# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
workspace.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store


dist
.env

# Fixtures
test/fixtures/fixture/vault/.obsidian/plugins/*/main.js
test/fixtures/fixture/vault/.obsidian/plugins/*/styles.css
test/fixtures/fixture/vault/.obsidian/plugins/*/manifest.json
!test/fixtures/fixture/vault/.obsidian/plugins/obsidian42-brat/data.json
test/fixtures/sandbox/*
!test/fixtures/sandbox/.gitkeep
/tsconfig.tsbuildinfo
